body {
    font-family: monospace;
    background-color: darkgrey;
}

button {
    margin-right: 1rem;
}

#preview {
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 800px;
    height: 600px;
}

#errordiv {
    display: none;
}

#errorspan {
    color: red;
}

#preview-img {
    width: 100%;
    height: 100%;
}

#recording_size {
    margin-right: 1rem;
}
